---
layout: categories
title: Archives
thumbnail: city2.jpg
---

<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h3 class="category-head accent">{{ category_name }}</h3>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <div class="listing">
      <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
      <p class='meta'>{{ post.date | date_to_long_string }} / by {{ post.author }}</p>

    </div>
    {% endfor %}
  </div>
{% endfor %}
</div>
