<div id="menu" class="slideout-menu slideout-closed"><div class="flexbox">
  <nav>
    <h4>Pages</h4>
    <a href="{{ site.url }}">Home</a>
    <a href="{{ site.url }}/about.html">About</a>
    <a href="{{ site.url }}/archives.html">Archives</a>
    <h4>Categories</h4>
    <!-- <a href="{{ site.url }}/categories/category1.html">Category 1</a> -->
    <!-- Brand and toggle get grouped for better mobile display -->


    <!-- Main Menu -->


            <!-- Dropdown-->

                <a data-toggle="collapse" href="#dropdown-lvl1">
                    <span class="glyphicon glyphicon-tag"></span> Tags <span class="caret"></span>
                </a>

                <!-- Dropdown level 1 -->
                <div id="dropdown-lvl1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ site.url }}/categories/category1.html">Category1</a></li>
                            <li><a href="{{ site.url }}/categories/diary.html">Diary</a></li>
                            <li><a href="{{ site.url }}/categories/math.html">Math</a></li>

                            <!-- Dropdown level 2 -->
                                <a data-toggle="collapse" href="#dropdown-lvl2">
                                    <span class="glyphicon glyphicon-off"></span> Sub Level <span class="caret"></span>
                                </a>
                                <div id="dropdown-lvl2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href="#">Link</a></li>
                                            <li><a href="#">Link</a></li>
                                            <li><a href="#">Link</a></li>
                                        </ul>
                                    </div>
                                </div>

                        </ul>
                    </div>
                </div>


            <!-- <li><a href="#"><span class="glyphicon glyphicon-bookmark"></span> Link</a></li> -->

            <!-- Dropdown-->
          <h4>Date</h4>


                <a data-toggle="collapse" href="#dropdown-lvl3">
                    <span class="glyphicon glyphicon-calendar"></span> Month <span class="caret"></span>
                </a>

                <!-- Dropdown level 3 -->
                <div id="dropdown-lvl3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>

                            <!-- Dropdown level 4 -->
                                <a data-toggle="collapse" href="#dropdown-lvl4">
                                    <span class="glyphicon glyphicon-bookmark"></span> Sub Level <span class="caret"></span>
                                </a>
                                <div id="dropdown-lvl4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href="#">Link</a></li>
                                            <li><a href="#">Link</a></li>
                                            <li><a href="#">Link</a></li>
                                        </ul>
                                    </div>
                                </div>

                        </ul>
                    </div>
                </div>


  </nav>
<div class="details">
  <b>{{site.title}}</b>
  <p> Test blog for Diary, Math & Code. Regards <a>ShiftShuffle</a> </p>
</div></div></div>
