<div id="menu" class="slideout-menu slideout-closed">
  <div class="flexbox">
  <nav>
  <section class="m-border-b">
    <!-- <h4>Pages</h4> -->
    <!-- <hr> -->
    <a href="{{ site.url }}">Home</a>
    <a href="{{ site.url }}/about.html">About</a>
    <a href="{{ site.url }}/archives.html">Archives</a>
    <a href="https://shiftshuffle.github.io/math/latextool2">Editor</a>

  </section>




<section class="m-border-b">
    <!-- <h4>Categories</h4> -->
    <!-- <hr> -->
    <!-- <a href="{{ site.url }}/categories/category1.html">Category 1</a> -->
    <!-- Brand and toggle get grouped for better mobile display -->


    <!-- Main Menu -->


            <!-- Dropdown-->

                <a data-toggle="collapse" href="#dropdown-lvl1">
                    <span class="glyphicon glyphicon-tag"></span> Tags <span class="caret"></span>
                </a>

                <!-- Dropdown level 1 -->
                <div id="dropdown-lvl1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">

                            <li><a href="{{ site.url }}/categories/diary.html">Diary</a></li>
                            <li><a href="{{ site.url }}/categories/math.html">Math</a></li>
                            <li><a href="{{ site.url }}/categories/code.html">Code</a></li>
                            <li><a href="{{ site.url }}/categories/art.html">Art</a></li>

                            <!-- Dropdown level 2 -->
                                <a data-toggle="collapse" href="#dropdown-lvl2">
                                    <span class="glyphicon glyphicon-bookmark"></span> SubC(math) <span class="caret"></span>
                                </a>
                                <div id="dropdown-lvl2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                          <li><a href="{{ site.url }}/categories/math.html">Number Theory</a></li>
                                          <li><a href="{{ site.url }}/categories/math.html">Art</a></li>
                                          <li><a href="{{ site.url }}/categories/math.html">Art</a></li>

                                        </ul>
                                    </div>
                                </div>

                        </ul>
                    </div>
                </div>

</section>
            <!-- <li><a href="#"><span class="glyphicon glyphicon-bookmark"></span> Link</a></li> -->

            <!-- Dropdown-->
  <section class="m-border-b">
          <!-- <h4>Date</h4> -->
          <!-- <hr> -->


                <a data-toggle="collapse" href="#dropdown-lvl3">
                    <span class="glyphicon glyphicon-calendar"></span> Year <span class="caret"></span>
                </a>

                <!-- Dropdown level 3 -->
                <div id="dropdown-lvl3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>

                            <!-- Dropdown level 4 -->
                                <a data-toggle="collapse" href="#dropdown-lvl4">
                                    <span class="glyphicon glyphicon-bookmark"></span> Month <span class="caret"></span>
                                </a>
                                <div id="dropdown-lvl4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav">
                                            <li><a href="#">Link</a></li>
                                            <li><a href="#">Link</a></li>
                                            <li><a href="#">Link</a></li>
                                        </ul>
                                    </div>
                                </div>

                        </ul>
                    </div>
                </div>

              </section>





  </nav>







<!-- <div class="details">
  <b>{{site.title}}</b>
  <p> Test blog for Diary, Math & Code. Regards <a>ShiftShuffle</a> </p>
</div> -->
<section class="m-border-b">
  <div class='demopadding'>
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
    <div class='icon social fb'>
        <i class='fa fa-facebook'></i>
    </div>
    </a>

    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
      <div class='icon social tw'>
        <i class='fa fa-twitter'></i>
      </div>
    </a>

    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">
      <div class='icon social go'>
        <i class='fa fa-google-plus'></i>
      </div>
    </a>
  </div>




</section>


<section class="m-border-b">

</section>



</div>


</div>
