---
layout: default
title: Home
---

  <div class='xs-12 topBar hidden'>
    <!-- <a id="logo-container2" href="#" class="brand-logo2"></a> -->
    <a id="logo-container" href="#" class="brand-logo"></a>

  </div>



<div class="xs-12 imgBack textCenter vertCenter banner" style='background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) ), url({{ site.url }}/assets/img/{{ page.thumbnail }})'>
  <div>
    <a class='caps post-title' href='{{ post.url }}'>{{ page.title }}</a>
    <p class='meta'>{{ page.date | date_to_long_string }} / by {{ page.author }}</p>
  </div>
</div>

<div class='divider xs-12 topBarTrigger'></div>



<div class='post-wrap'>

  <h1>{{ page.title }}</h1>
  <p class='meta'>
    {{ page.author }} // {{ page.date | date_to_long_string }}
  </p>

  <div class="post-categories">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
  <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</div>

  {{ content }}


</div>
