---
layout: default
title: Home
---

  <div class='xs-12 topBar hidden'>
    <!-- <a id="logo-container2" href="#" class="brand-logo2"></a> -->
    <a id="logo-container" href="#" class="brand-logo"></a>

  </div>



<a href="{{ site.baseurl }}{{ post.url }}">
  <div class="xs-12 imgBack textCenter vertCenter banner" style='background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1) ), url({{ site.url }}/assets/img/{{ page.thumbnail }})'>
  <div class="post-div">
    <a class='caps post-title' href='{{ site.baseurl }}{{ post.url }}'><div class="special-title">
      <h3>{{ page.title }}</h3>
    </div>
  </a>
    <p class='meta medium'>{{ page.date | date_to_long_string }} / by {{ page.author }}</p>
  </div>
</div>
</a>

<div class='divider xs-12 topBarTrigger'></div>



<div class='post-wrap'>

  <h1>{{ page.title }}</h1>
  <p class='meta'>
    {{ page.author }} // {{ page.date | date_to_long_string }}
  </p>

  <div class="post-categories">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
  <a href="{{site.url}}/categories/{{category|slugize}}">// {{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</div>
<br>

  {{ content }}

  <div class='demopadding'>
    <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
    <div class='icon social fb'>
        <i class='fa fa-facebook'></i>
    </div>
    </a>

    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">
      <div class='icon social tw'>
        <i class='fa fa-twitter'></i>
      </div>
    </a>

    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">
      <div class='icon social go'>
        <i class='fa fa-google-plus'></i>
      </div>
    </a>
  </div>

</div>
